<!doctype html>
<html lang="en">
{% load static %}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find your book!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src = "{% static 'js/story8.js' %}"></script>
    <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:500&display=swap" rel="stylesheet">


</head>

<body>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h1 id="judul"> Find your book here!</h1>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <input class="form-control" id="search" placeholder="Title or Author">
        <button id="button" class="btn btn-info" type="button"> Search </button>
        {% if user.is_authenticated %}

        <a href="{% url 'Story9:logout' %}">
            <button id="logout" class="btn btn-info">Logout</button>
        </a>
        {% else %}

        <a href="{% url 'Story9:login' %}">
            <button id="button" class="btn btn-info" type="button"> Login </button>
        </a>
        {% endif %}

    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div id="results">
            <table class="table"></table>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

</body>


