#judul{
    font-family: 'Work Sans', sans-serif;
    margin-left: 120px;
    margin-top: 30px;
    }
body{
    background: url("../images/background1.jpg") no-repeat center;
    background-size: 100%;
    overflow-x: hidden;
    background-attachment : fixed;
}
#results{
    font-family: 'Heebo', sans-serif;}
.form-control{
    width: 60%;
    margin-left: 80px;
    margin-top: 15px;}
button{
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 40px;}
.table{
    background-color: #ffffff;
    }
#results{
    background-color: #180c62;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    }