<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Please login!</title>
</head>
<body>

    {% if user.is_authenticated %}
    <h1>Hello, {{ user }}</h1>
    <a href="{% url 'Story9:logout' %}">
        <button id="logout" class="btn btn-info">Logout</button>
    </a>
    <a href="{% url 'homepage:booksearch' %}">
        <button id="logout" class="btn btn-info">Books</button>
    </a>
    {% else %}
    <h1>
        Please login!
    </h1>
    <a href="{% url 'Story9:login' %}">
            <button id="login" class="btn btn-info">Login</button>
    </a>
    <a href="{% url 'homepage:booksearch' %}">
        <button id="logout" class="btn btn-info">Books</button>
    </a>
    {% endif %}

</body>
</html>
